.latest_work_contaienr {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;

}

.latest_work_col img {
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    object-fit: cover;

}

.latest_work_col {
    width: calc(100% /3);
}

.latest_work_col:first-child img:first-child {
    height: 600px;
}

.latest_work_col:nth-child(2) img:nth-child(2) {
    height: 600px;
}

.latest_work_col:nth-child(3) img:first-child {
    height: 600px;
}