@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

a {
  color: #000;
  text-decoration: none;
}

a:hover {

  cursor: pointer;
}


* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

html {
  scroll-behavior: smooth;

}

body {
  padding: 0 120px;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #8a8a8a;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 15px;
}

.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: calc(100% + 240px);
  margin-right: -120px;
  padding: 0 0 1rem 0;
}